*body,
html {
  height: 100%;
  margin: auto 0;
  font-family: 'popins', sans-serif;
  max-width: 1900px;
}

body {
  background-image: url('../imagens/celestia\ imagem\ de\ fundo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;

}

.bg {
  min-height: 100vh;
  width: 100vw;

}

aside {
  display: inline;
  position: fixed;
  bottom: 0;
  padding: 1px;
  top: auto;
  right: 0%;

}


.botoes_gaveta {
  display: inline-flex;
  font-size: 20px;
  width: 100vw;
  height: 5vh;
  margin-left: 3px;

}

.botoes_gaveta_1 {
  border-radius: 12px;
  background-color: rgba(43, 189, 205, 0.437);
  width: 100vw;
  height: 5vh;
  margin-left: 3px;
  font-size: 12px;
  border: none;

}

a {
  color: inherit;
  border-radius: 12px;
  /* background-color: rgba(43, 189, 205, 0.437); */
  width: 100vw;
  height: 5vh;
  margin-left: 3px;
  font-size: 14px;

}

.botoes_gaveta :hover {
  cursor: pointer;
  background-color: white;
  color: aqua;
  transition: 0.5s;
  border: none;

}

nav {
  display: inline-flex;
  float: right;

}

.registrar {
  position: absolute;
  left: 1%;
  cursor: pointer;
}

input {
  color: rgb(18, 50, 129);
  margin-left: 10px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: rgb(214, 222, 224);
  outline: 0;

}

.registrar {
  color: rgb(183, 243, 237);
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgba(90, 106, 107, 0.633);
  font-size: 16px
}

.entrar {
  color: rgb(183, 243, 237);
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgba(90, 106, 107, 0.633);
  cursor: pointer;

}

.botoes_cabecalho :hover {
  cursor: pointer;
  /* background-color: rgb(240, 237, 237); */
  color: rgb(119, 105, 215);
  transition: 0.5s;
  outline: 0;

}

input[type="file"] {
  display: none;
}

label {
  padding: 10px 20px;
  width: 50vh;
  border-radius: 12px;
  background-color: rgba(43, 189, 205, 0.437);
  color: rgb(183, 243, 237)F;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  display: inline;
  position: fixed;
  bottom: 0;
  top: auto;
  left: 37%;

}

label:hover {
  cursor: pointer;
  background-color: white;
  color: aqua;
  transition: 0.5s;
  outline: 0;

}